:root{
    /* CSS HEX */
--cinza: #003049ff;
--vermelho: #d62828ff;
--laranja: #f77f00ff;
--amarelo: #fcbf49ff;
}
body{
    background-color: var(--cinza);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

main{
    margin: 20px 0;
    text-align: center;
    max-width: 90%;
}

button{
    background-color: var(--amarelo);
    font-size: 22px;
    padding: 4px;
    border: radius 10px;
    margin: 5px;
    color: black;
    box-shadow: 2px 2px 5px black;
}

button:hover{
    background-color: var(--laranja);
    box-shadow: none;
    transition: 0.5s;
}
.passo{
    display: none;
}

.passo.ativo{
    display: block;
}